@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.form-control{
    display: block;
    width: 100%;
    border: 1px solid v.$secondary;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: v.$white;
    background-color: v.$dark;
    // transition: 0.5s all ease;
}

.form-control:focus{
    border-color: v.$primary;
    outline: 0;
    box-shadow: v.$shadow1;
    // transition: 0.5s all ease;
}

// .form-check{
    
// }

// input[type="checkbox"]{
//     background: v.$dark;
// }

// .form-select{
//     display: block;
//     width: 100%;
//     border: 1px solid v.$secondary;
//     border-radius: 4px;
//     padding: 8px 12px;
//     font-size: 16px;
//     font-weight: 300;
//     line-height: 1.5;
//     color: v.$white;
//     background-color: v.$dark;
// }

.form{

    .form-input{

        label{
            display: inline-block;
            padding-bottom: 14px;
            text-transform: capitalize;
        }

        select{
            height: 40px;

            option{
                display: inline-block;
                padding: 12px 0;

                &:hover{
                    background: v.$primary;
                }
            }
        }
    }
}
